---
interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="page-banner">
  <img src={src} alt={alt} />
</div>

<style>
  .page-banner {
    width: 100%;
    overflow: hidden;
  }
  .page-banner img {
    width: 100%;
    height: clamp(240px, 45.6vh, 528px);
    object-fit: cover;
    display: block;
  }
</style>
